.wcf-addons_page_wcf_addons_settings,
.admin_page_wcf_addons_setup_page {
  background: #fff;
}

.wcf-admin-wrapper {
  padding: 20px 30px 30px;
  border-radius: 30px;
  background-color: #F6F6F6;
  font-family: Roboto, sans-serif;
  color: #1C3063;
  --color1: #1C3063;
  --color2: #888888;
  --main-color:#F12529;
}
.wcf-admin-wrapper svg {
  width: 1em;
  height: 1em;
}
.wcf-admin-wrapper .wcf-admin-btn {
  background: #F6F6F6;
  color: #1C3063;
  fill: #1C3063;
  padding: 21px 25px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
.wcf-admin-wrapper .wcf-admin-btn:hover {
  background-color: #1C3063;
  color: #fff;
  fill: #fff;
}
.wcf-admin-wrapper .wcf-admin-btn.wcf-settings-save, .wcf-admin-wrapper .wcf-admin-btn.wcf-settings-next {
  background: linear-gradient(86.88deg, #FFA030 0%, #F12529 100%);
  color: #fff;
  fill: #fff;
}
.wcf-admin-wrapper .title-1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  color: #1C3063;
  margin: 0;
}
.wcf-admin-wrapper .title-2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  color: #1C3063;
  margin: 0;
}
.wcf-admin-wrapper .title-3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #1C3063;
  margin: 0;
}
.wcf-admin-wrapper .settings-wrap {
  border-radius: 15px;
  overflow: hidden;
}
.wcf-admin-wrapper .settings-wrap .section-header {
  background-color: #fff;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.wcf-admin-wrapper .settings-wrap .section-header .info span {
  font-size: 16px;
  color: #888888;
}
.wcf-admin-wrapper .settings-wrap .section-header h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1C3063;
  margin: 0 0 12px;
}
.wcf-admin-wrapper .settings-wrap .section-header .header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.wcf-admin-wrapper .wcf-admin-search {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 3px;
  border-radius: 30px;
  overflow: hidden;
}
.wcf-admin-wrapper .wcf-admin-search input {
  padding: 16px 20px;
  color: #909090;
  font-size: 16px;
}
.wcf-admin-wrapper .wcf-admin-search button {
  padding: 10px;
  height: 66px;
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.wcf-admin-wrapper .wcf-admin-search input, .wcf-admin-wrapper .wcf-admin-search button {
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.031372549);
}
.wcf-admin-wrapper .switcher input {
  display: none;
}
.wcf-admin-wrapper .switcher label {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}
.wcf-admin-wrapper .switcher .control-label-switch {
  position: relative;
  overflow: hidden;
  min-width: 52px;
  height: 26px;
  display: inline-block;
}
.wcf-admin-wrapper .switcher .control-label-switch::before {
  content: attr(data-inactive);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: #1C3063 solid 1px;
  border-radius: 10px;
  text-indent: 24px;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  font-weight: 700;
  font-size: 0.6875rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.wcf-admin-wrapper .switcher .control-label-switch::after {
  position: absolute;
  top: 4px;
  left: 4px;
  content: attr(data-active);
  width: 18px;
  height: 18px;
  background-color: #1C3063;
  border-radius: 100%;
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  text-indent: -22px;
  display: flex;
}
.wcf-admin-wrapper .switcher input:checked ~ label .control-label-switch::before {
  border-color: #FCD3D4;
  text-indent: 52px;
}
.wcf-admin-wrapper .switcher input:checked ~ label .control-label-switch::after {
  left: 30px;
  background-color: #F12529;
  color: #F12529;
}
.wcf-admin-wrapper .switcher input:disabled ~ label .control-label-switch {
  opacity: 0.3;
}
.wcf-admin-wrapper .title-area {
  background-color: #fff;
  padding: 26px 30px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.wcf-admin-wrapper .title-area .header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.wcf-admin-wrapper .title-area h4 {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
}
.wcf-admin-wrapper .title-area i {
  display: inline-block;
  margin-top: 10px;
}
.wcf-admin-wrapper .settings-group {
  margin-top: 10px;
}
.wcf-admin-wrapper .settings-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3px;
}
.wcf-admin-wrapper .settings-wrapper .item {
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: relative;
  overflow: hidden;
}
.wcf-admin-wrapper .settings-wrapper .item .title {
  font-size: 16px;
}
.wcf-admin-wrapper .settings-wrapper .item .actions {
  display: flex;
  align-items: center;
  gap: 3px;
}
.wcf-admin-wrapper .settings-wrapper .item .actions a {
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  text-decoration: none;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wcf-admin-wrapper .settings-wrapper .item .actions .wcf-plugin-installer {
  font-size: 16px;
  width: auto;
  height: auto;
  padding: 5px 12px;
  cursor: pointer;
  border: 1px solid rgba(241, 37, 41, 0.2);
  color: #F12529;
}
.wcf-admin-wrapper .settings-wrapper .item .actions .wcf-plugin-installer.active {
  border: 1px solid rgba(110, 197, 49, 0.2);
  color: #6EC531;
}
.wcf-admin-wrapper .settings-wrapper .item .actions .wcf-plugin-installer.activated {
  border: 1px solid #EFEFEF;
  color: #1C3063;
  pointer-events: none;
}
.wcf-admin-wrapper .settings-wrapper .item .ribbon {
  width: 66px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 4px;
  position: absolute;
  right: -18px;
  top: 8px;
  text-align: center;
  transform: rotate(45deg);
  background: #f12529;
  color: #fff;
  text-transform: uppercase;
}
.wcf-admin-wrapper .wizard-integration .settings-wrapper .item {
  overflow: visible;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.wcf-admin-wrapper .wizard-integration .settings-wrapper .item .title {
  font-weight: 600;
}
.wcf-admin-wrapper .wizard-integration .settings-wrapper .item .desc {
  width: 100%;
}
.wcf-admin-wrapper .wizard-integration .settings-wrapper .item .ribbon {
  width: 100px;
  right: 0px;
  top: 0px;
  transform: rotate(0deg);
}
.wcf-admin-wrapper .wizard-integration .settings-wrapper .item .actions {
  margin-left: auto;
  margin-top: 10px;
}
.wcf-admin-wrapper .wcf-admin-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 24px;
}
.wcf-admin-wrapper .wcf-admin-tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 400;
  color: var(--color1);
  position: relative;
}
.wcf-admin-wrapper .wcf-admin-tab button:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 3px;
  background: var(--main-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.wcf-admin-wrapper .wcf-admin-tab button.active {
  color: var(--main-color);
}
.wcf-admin-wrapper .wcf-admin-tab button.active:after {
  opacity: 1;
  visibility: visible;
}
.wcf-admin-wrapper .wcf-tab-pane {
  display: none;
}
.wcf-admin-wrapper .wcf-settings-footer {
  margin-top: 120px;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wcf-admin-wrapper .wcf-settings-footer .footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wcf-admin-tab-content .settings-home-wrap .content-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  flex: 1;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .statistic-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .statistic-head .icon {
  background: #FFE9E9;
  fill: var(--main-color);
  height: 80px;
  width: 76px;
  border-radius: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .statistic-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item {
  padding: 20px;
  border-radius: 15px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item .head {
  display: flex;
  align-items: center;
  gap: 12px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item .icon {
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item .title {
  color: var(--color1);
  font-size: 16px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item .count {
  font-size: 42px;
  font-weight: 600;
  line-height: 1;
  color: var(--color1);
  margin-top: 100px;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item.total-item {
  background: #E5F6F6;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item.total-item .icon {
  fill: #32CECE;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item.active-item {
  background: #E0EFFF;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item.active-item .icon {
  fill: #46A1FF;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item.inactive-item {
  background: #FFF7D0;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-statistic .item.inactive-item .icon {
  fill: #FFD600;
}
.wcf-admin-tab-content .settings-home-wrap .wcf-sidebar {
  width: 460px;
  border-radius: 15px;
  overflow: hidden;
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
  margin-top: 3px;
  cursor: pointer;
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-header:first-child {
  margin-top: 0;
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-header .ui-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 1px solid #EFEFEF;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: auto;
  order: 2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' viewBox='0 0 12 2' fill='none'%3E%3Cpath d='M6 0.999954H6.5' stroke='%231C3063' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1H11' stroke='%231C3063' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6 1V11' stroke='%231C3063' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 6H11' stroke='%231C3063' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-content {
  background-color: #fff;
  margin: 0;
  padding: 15px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-content a {
  font-size: 18px;
  font-weight: 500;
  color: var(--color1);
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
}
.wcf-admin-tab-content .settings-home-wrap .ui-accordion .ui-accordion-content .desc {
  font-size: 16px;
  color: var(--color2);
}

.wcf-admin-wrapper .wizard-content {
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
.wcf-admin-wrapper .wizard-congrats,
.wcf-admin-wrapper .wizard-welcome {
  text-align: center;
  background-color: #fff;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wcf-admin-wrapper .wizard-congrats .icon,
.wcf-admin-wrapper .wizard-welcome .icon {
  font-size: 210px;
}
.wcf-admin-wrapper .wizard-congrats h2,
.wcf-admin-wrapper .wizard-welcome h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
  color: #1c3063;
}
.wcf-admin-wrapper .wizard-congrats .desc,
.wcf-admin-wrapper .wizard-welcome .desc {
  max-width: 1024px;
  font-size: 16px;
  line-height: 1.5;
  color: #888888;
  margin-bottom: 30px;
}
.wcf-admin-wrapper .wizard-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.wcf-admin-wrapper .wizard-form .settings-wrap {
  border-radius: 0 0 15px 15px;
}
.wcf-admin-wrapper .wizard-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.wcf-admin-wrapper .wizard-content {
  display: none;
}
.wcf-admin-wrapper .wizard-content.active {
  display: block;
}
.wcf-admin-wrapper .btn {
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 10px 24px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
.wcf-admin-wrapper .btn.bordered {
  border-color: #1e4dba;
  color: #1e4dba;
}
.wcf-admin-wrapper .btn.primary {
  background-color: #1e4dba;
  color: #fff;
}
.wcf-admin-wrapper .btn[disabled] {
  cursor: not-allowed;
}
.wcf-admin-wrapper .wizard-wrap {
  background-color: white;
  padding: 80px 50px;
  border-radius: 15px 15px 0 0;
}
.wcf-admin-wrapper .wizard {
  position: relative;
  margin: 0 auto;
  max-width: 620px;
}
.wcf-admin-wrapper .wizard-bar {
  position: absolute;
  background-color: #DEDEDE;
  height: 1px;
  bottom: 8px;
  width: calc(100% - 60px);
  left: 50%;
  transform: translateX(-50%);
}
.wcf-admin-wrapper .wizard-bar:before {
  content: "";
  position: absolute;
  background-color: #F12529;
  height: 1px;
  width: var(--width, 0);
  left: 0;
  transition: 0.3s ease;
}
.wcf-admin-wrapper .wizard-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.wcf-admin-wrapper .wizard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 2;
  margin: 0;
  transition: 0.4s ease;
}
.wcf-admin-wrapper .wizard-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  font-size: 20px;
  transition: 0.4s ease;
  color: #203263;
  fill: #203263;
}
.wcf-admin-wrapper .wizard-item .title {
  font-size: 16px;
  line-height: 1;
  color: #888888;
  transition: 0.4s ease;
}
.wcf-admin-wrapper .wizard-item .step-circle {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1px solid #DEDEDE;
  background: #FFFFFF;
  box-sizing: border-box;
  transition: 0.4s ease;
}
.wcf-admin-wrapper .wizard-item .step-circle:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
}
.wcf-admin-wrapper .wizard-item.active .title {
  color: #1C3063;
}
.wcf-admin-wrapper .wizard-item.active .step-circle {
  border-color: #F12529;
}
.wcf-admin-wrapper .wizard-item.active .step-circle:after {
  background: #F12529;
}
.wcf-admin-wrapper .wizard-item.current .icon {
  border-color: #F12529;
  color: #F12529;
  fill: #F12529;
}
.wcf-admin-wrapper .wizard-item.current .title {
  color: #F12529;
}

.smooth-scroll {
  position: relative;
  padding-right: 25px;
}

.smooth-settings {
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.wcf-addons-settings-popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  visibility: hidden;
}
@keyframes scaleIn {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes superScaleIn {
  from {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.wcf-addons-settings-popup.open-popup {
  visibility: visible;
}
.wcf-addons-settings-popup.open-popup .wcf-addons-settings-content {
  animation-name: scaleIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  visibility: visible;
  opacity: 1;
}
.wcf-addons-settings-popup.open-popup .wcf-addons-settings-popup-overlay {
  opacity: 1;
  visibility: visible;
}

.wcf-addons-settings-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s opacity linear;
}

.wcf-addons-settings-content {
  position: relative;
  z-index: 9;
  width: 100%;
  max-width: 512px;
  border-radius: 5px;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
}
.wcf-addons-settings-content .popup-status-wrapper {
  padding: 30px;
}
.wcf-addons-settings-content .popup-status-wrapper .icon {
  display: flex;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon::before,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon::after,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon::before, .wcf-addons-settings-content .popup-status-wrapper .icon .check-icon::after,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon::before,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #FFFFFF;
  transform: rotate(-45deg);
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon .icon-line,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon .icon-line.line-tip,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon .icon-line.line-long,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon .icon-circle,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.wcf-addons-settings-content .popup-status-wrapper .icon .check-icon .icon-fix,
.wcf-addons-settings-content .popup-status-wrapper .icon .error-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}
.wcf-addons-settings-content .popup-status-wrapper .icon div.error-icon {
  border-color: #f3375c;
}
.wcf-addons-settings-content .popup-status-wrapper .icon div.error-icon .icon-line {
  background-color: #f3375c;
}
.wcf-addons-settings-content .popup-status-wrapper .icon div.error-icon .icon-line.line-tip, .wcf-addons-settings-content .popup-status-wrapper .icon div.error-icon .icon-line.line-long {
  width: 50px;
  left: 16px;
  top: 38px;
  animation: none;
}
.wcf-addons-settings-content .popup-status-wrapper .icon div.error-icon .icon-circle {
  border-color: rgba(241, 41, 41, 0.5);
}
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.wcf-addons-settings-content .popup-status-wrapper .title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.8em 1em 0;
  color: inherit;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}
.wcf-addons-settings-content .popup-status-wrapper .text {
  z-index: 1;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}
.wcf-addons-settings-content .wcf-popup-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wcf-addons-settings-content .wcf-popup-actions .popup-button {
  margin: 0.3125em;
  padding: 0.9em 1.3em;
  transition: box-shadow 0.1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
  cursor: pointer;
}
.wcf-addons-settings-content .wcf-popup-actions .popup-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.wcf-addons-settings-content .wcf-popup-actions .wcf-button-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
}
.wcf-addons-settings-content .wcf-popup-actions .wcf-button-deny {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #dc3741;
  color: #fff;
  font-size: 1em;
}
.wcf-addons-settings-content .wcf-popup-actions .wcf-button-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1em;
}

.smooth-scroller-settings {
  margin: 2em 0;
}

.smooth-scroller-settings .input-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  align-items: center;
  text-align: start;
}
.smooth-scroller-settings .input-items label {
  font-weight: 600;
}
.smooth-scroller-settings .input-items input {
  border: 1px solid #d3dbe7;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f8fbff;
  font-size: 15px;
  color: #656565;
}